<footer class="page-footer grey darken-3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">О нас:</h5>
                <p class="grey-text text-lighten-4">Мы более 100500 лет на рынке! </p>
                <p class="grey-text text-lighten-4">Покупай у нас!</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <a class="grey-text text-lighten-4" href="#">Дополнительно:</a>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/AlAstroMoody">Git</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://www.sibsau.ru/page/home/">University</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright grey darken-4">
        <div class="container">
            Made by me. All rights reserved!
        </div>
    </div>
</footer>