{% extends './base.html' %}
{% load static %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block content %}
    <div class="main">
    <div class="col s12"></div>
        <div class="row">
            <div class="col s12 center-align"><h1>{{ product.name }}</h1>
                <hr>
            </div>
            <div class="col s9 m6 l4 offset-s2 offset-l2 ">
                <div class="card">
                    <div class="card-image materialboxed">
                        {% for image_item in product.productimage_set.all %}
                            <img src="{{ image_item.image.url }}" alt="img detail">
                        {% endfor %}
                    </div>
                </div>
                {% if product.discount %}
                    <div class="col s4 offset-s3 discount center-align">
                        Cкидка {{ product.discount }}%
                    </div>
                {% endif %}
            </div>
            <div class="col s12 m6 l4">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text padding-bottom">
                        Brand:
                        <span class="card-title s12">{{ product.brand }}
                        </span>
                        ID:
                        <p> {{ product.uid }}</p>
                        <hr>


                        <div class="quantity-block col s4">
                            <label>Количество:
                                <input class="quantity-num" type="number" value="1"/>
                            </label>
                            <label>Сумма:
                                <input class="new-price" type="number" value="{{ product.price }}"/>
                            </label>
                            <input class="price" type="hidden" value="{{ product.price }}"/>
                            <div class="row">
                                <button>
                                    <i class="material-icons quantity-arrow-plus">keyboard_arrow_up</i>
                                </button>
                                <button>
                                    <i class="material-icons quantity-arrow-minus">keyboard_arrow_down</i>
                                </button>
                            </div>
                        </div>
                        <form id="form_buying_product" class="form-inline"
                              action="{% url 'order:basket_add' %}">{% csrf_token %}
                            <div class="col s4 offset-s3 offset-m3">
                                <br>
                                <br>
                                <span class="card-title">{{ product.price }}₽</span>
                                <div class="form-group">
                                    <button type="submit" class="btn submit_btn"
                                            data-product_id="{{ product.id }}"
                                            data-product_price="{{ product.price }}"
                                            data-product_name="{{ product.name }}"
                                            {% if is_anonymous %}
                                            onclick="M.toast({html: 'Требуется авторизация'})">Добавить
                                                {% else %}
                                                onclick="M.toast({html: 'Добавлено!'})">Добавить
                                            {% endif %}

                                        <i class="large material-icons">add_shopping_cart</i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <ul class="tabs">
                                <li class="tab col s4"><a href="#detail">О товаре</a></li>
                                <li class="tab col s4"><a class="active" href="#delivery">Доставка</a></li>
                                <li class="tab col s4"><a href="#analog">Аналоги</a></li>
                            </ul>
                        </div>
                        <div class="product-description">
                            <div id="detail" class="col s12"><p>{{ product.description }}</p></div>
                            <div id="delivery" class="col s12"><p>
                                Доставка осуществляется каждый день с 9 до 21 часов.
                                Заказы, принятые после 18 часов, доставляются на следующий день.
                                Стоимость доставки в г. Красноярск 300р.
                                При заказе товара стоимостью от 3000р - доставка бесплатна
                            </p></div>
                            <div id="analog" class="col s12"><p>Нет их )</p></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <hr>
        <h3 class="center-align">Специальные предложения</h3>
        {% include 'sale.html' %}
    </div>

{% endblock %}

