{% extends './base_reg.html' %}
{% load static %}

{% block title %}
    Вход
{% endblock %}

{% block content %}

    <div class="grey darken-1 empty-layout">
        <div class="card auth-card">

                <div class="card-content">
                    <span class="card-title">Авторизация</span>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ next }}">

                        {{ form }}

                        <button type="submit" class="btn waves-effect waves-light auth-submit">Войти
                            <i class="material-icons right">send</i>
                        </button>
                    </form>
                </div>
                <p class="center">
                    Нет аккаунта?
                    <a href={% url 'registration' %}>Зарегистрироваться</a>
                </p>
        </div>
    </div>


{% endblock %}

