{% extends './base_reg.html' %}
{% load static %}

{% block title %}
    Вход
{% endblock %}

{% block content %}

    <div>
        <div class="grey darken-1 empty-layout">
            <div class="card auth-card">
                <div class="card-content">
                    <span class="card-title">Регистрация</span>
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" class="btn waves-effect waves-light auth-submit" value="Зарегистрировать ">

                    </form>
                </div>
                <div class="card-action">
                    <p class="center">
                        Уже есть аккаунт?
                        <a href={% url 'login' %}>Войти!</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

