nav ul a,
nav .brand-logo {
    color: #ffffff;
}

p {
    line-height: 2rem;
}

.sidenav-trigger {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }

    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}

.shadow-black {
    text-shadow: 2px 2px 2px black, 0 0 1em rgb(255, 255, 255);
}

.image img {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.image img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.main {
    background: linear-gradient(129.56deg, #ffffff -7.06%, #c4bfbf 50.9%, #6f6f6f 107.91%);
}

.btn-in-card {
    margin-top: 10px;
}

.btn-in-card:hover {
    opacity: 70%;
}

.discount {
    position: absolute;
    top: 10%;
    background: #00E676;
    width: 20%;
    color: white;
    font-weight: 500;
    padding: 3px;
}
.discount-on-details{
    background: #00E676;
    font-weight: 500;
}



.sale-wrap {
  position: relative;
  width: 400px;
  height: 300px;
  padding: 30px 40px;
  margin: 50px auto 0;
  background: #ffffff;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  box-sizing: border-box;
  overflow: hidden;
}
.sale-wrap:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 760px;
  height: 760px;
  background: orange;
  border-radius: 50%;
}
.sale-inner {
  position: relative;
  height: 100%;
  background: linear-gradient(45deg, rgb(240,96,96), orangered);
  box-shadow: 0 10px 45px rgba(240,96,96, 0.3), 0 -10px 45px rgba(240,96,96, 0.3);
}
.sale-inner:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  border-bottom-right-radius: 150px;
  box-shadow: 3px 3px 20px rgba(0,0,0,.06);
}
.sale-text {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;
  padding: 40px 10px 0 40px;
  box-sizing: border-box;
}
.sale-text h2 {
  margin: 0 0 5px;
  color: #888888;
  font-family: 'Comfortaa', cursive;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 1px;
}
.sale-text p {
  margin: 0;
  font-family: 'Merriweather', serif;
  font-size: 40px;
  font-weight: bold;
  color: rgb(240,96,96);
}
.sale-text p span {
  font-size: 20px;
  ont-weight: normal;
}
.button {
  display: inline-block;
  margin: 20px 0;
  padding: 5px 10px;
  text-decoration: none;
  color: rgb(240,96,96);
  font-family: 'Comfortaa', cursive;
  text-transform: lowercase;
  font-size: 12px;
  border: 1px solid rgb(240,96,96);
}
.sale-text .sale-text-info {
  color: #888888;
  font-family: 'Comfortaa', cursive;
  font-size: 10px;
  font-weight: normal;
}

.product-description{
    padding: 5%;
}

.padding-bottom{
    padding-bottom: 5%;
}

.main-button {
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 5px 40px;
  margin: 10px 20px;
  background-image: linear-gradient(45deg, #6ab1d7 0%, #33d9de 50%, #002878 100%);
  background-position: 100% 0;
  background-size: 200% 200%;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: white;
  box-shadow: 0 16px 32px 0 rgba(0,40,120,.35);
  transition: .5s;
}
.main-button:hover {
  box-shadow: 0 0 0 0 rgba(0,40,120,0);
  background-position: 0 0;
}

.card .card-content {
    padding: 5px;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
display: inline-block;
vertical-align: middle;
margin: 10px 5px;

}

.product-image img {
  max-width: 100%;
}

.product-info {
  margin-top: auto;
}
.products .product-card:first-child,
.products .product-card:nth-child(2) {
  flex: 2 46%;
}

@media (max-width: 920px) {
  .product-card {
    flex: 1 21%;
  }
}
.price-button{
    align-items: flex-end;
    justify-content: space-evenly;
}
@media (max-width: 600px) {
  .product-card {
    flex: 1 46%;
  }
}
